.row-list-title {
  font-size: 2.2rem;
  text-transform: uppercase;
}

.row-list-container {
  scroll-behavior: smooth;
  overflow: auto;
  scrollbar-width: none;
}

.row-list-wrapper {
  transition: 200ms ease-in-out;
}