:local(.container) {
    height: 100%;
    overflow: hidden;
}

:local(.selected_movie) {
    height: 40%;
}

:local(.movies_list) {
    display: flex;
    flex-direction: column;
    height: 60%;
    overflow: hidden;
}