:local(.wrapper) {
    flex: 0 0 70%;
    height: 70%;
    overflow: hidden;
    padding: 0 2% 2% 2%;
    opacity: 0.5;

    h2 {
        color: #eeeeee;
        margin-bottom: 10px;
        font-size: 1.5em;
    }
}

:local(.wrapper_focused) {
    opacity: 1;
}

:local(.movies) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 0));
    grid-column-gap: 0.8em;
    height: 84%;
    list-style: none;
}