%selected {
    transform: scale(1.1)
}

:local(.movie) {
    overflow: hidden;
    &:hover {
        @extend %selected
    }

    img {
        width: 100%;
        object-fit: cover;
    }
}

:local(.selected__movie) {
    @extend %selected
}