:local(.wrapper) {
    position: relative;
    flex: 0 0 70%;
    height: 70%;
    overflow: hidden;
    padding: 0 2% 2% 2%;

    h2 {
        color: #a4a4a4;
        margin-bottom: 10px;
        font-size: 1.5em;
    }
}

:local(.focused) {
    h2 {
        color: white;
        font-size: 1.8em;
    }
}

:local(.movies) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 0));
    grid-column-gap: 0.8em;
    height: 84%;
    left: 0;
}

:local(.slide__left) {
    animation: slide__left 150ms forwards;
}

@keyframes slide__left {
    0% { transform: translateX(0); }
    100% { transform: translateX(-14%); }
}

:local(.slide__right) {
    animation: slide__right 150ms forwards;
}

@keyframes slide__right {
    0% { transform: translateX(-14%); }
    100% { transform: translateX(0); }
}

:local(.arrow) {
    cursor: pointer;
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    background-image: radial-gradient(rgba(0, 0, 0, 0.6), transparent);
    margin: 0.1%;
    width: 5em;
    height: 5em;
    top: 8em;
    transition: left 200ms ease, right 200ms ease;

    &:hover {
        i { color: red; text-shadow: 0 0 80px white; }
    }
}

:local(.arrow__left) {
    left: 0;
    top: 8em;
}

:local(.arrow__left_hide) {
    left: -10em;
}

:local(.arrow__right) {
    right: 0;
}

:local(.arrow__right_hide) {
    right: -10em;
}

:local(.material__icons) {
    font-family: 'Material Icons';
    font-size: 4em;
    color: white;
    display: block;
    align-self: center;
}