:local(.movie) {
    width: 90%;
    height: 100%;
    padding: 2%;
    h1 {
        color: white;
        font-weight: bold;
        font-size: 3.5em;
        margin: 2%;
    }
    p {
        color: white;
        font-size: 2.5em;
        margin: 2%;
    }
}