:local(.movie) {
    width: 80%;
    height: 100%;
    padding: 4%;
    h1 { font-weight: bold; font-size: 2.8em; line-height: 1em; margin-bottom: 1%; }
    span { display: inline-block; font-size: 1em; margin: 0 .5% 3%; }
    p { font-size: 1.1em; line-height: 1.2em; }
    time { margin-left: 1%; }
}

:local(.rating) {
    font-weight: bold;
    border: 1px solid white;
    border-radius: 3px;
    padding: 0 0.3em;
}