:local(.info) {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

:local(.info_hide) {
    opacity: 0;
    transition: opacity linear .4s
}

:local(.top_info) {
    display: flex;
    position: absolute;
    padding: 3%;
    width: 100%;
    height: 15%;
    top: 0;

    h1 { margin-left: 1%; }
}

:local(.top_info__hide) {
    top: -15%;
    transition: top linear .2s;
}

:local(.bottom_info) {
    display: flex;
    justify-content: center;
    position: absolute;
    padding: 3%;
    width: 100%;
    height: 15%;
    bottom: 0;

    progress {
        width: 70%;
        height: 20%;
        margin: 0 1%;
        transition: height linear .1s;

        &:hover {
            height: 30%;
        }
    }

    progress[value] {
        -webkit-appearance: none;

        &::-webkit-progress-bar {
            background-color: #eee;
        }

        &::-webkit-progress-value {
            background-color: red;
        }
    }

    progress, i, span {
        align-self: center;
    }
}

:local(.bottom_info__hide) {
    bottom: -15%;
    transition: bottom linear .3s;
}

:local(.player) {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    video {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

:local(.material_icons) {
    font-family: 'Material Icons';
    font-size: 3em;
    color: white;
    cursor: pointer;

    &:hover {
        color: red;
        text-shadow: 0 0 80px white;
    }
}

:local(.focused) {
    color: red;
    text-shadow: 0 0 80px white;
}