:local(.info) {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);

    progress {
        position: absolute;
        width: 80%;
        height: 6px;
        margin-left: 8.5%;
        bottom: 76px;
        transition: all linear .1s;

        &:hover {
            height: 18px;
            bottom: 70px;
        }
    }

    progress[value] {
        -webkit-appearance: none;

        &::-webkit-progress-bar {
            background-color: #eee;
        }

        &::-webkit-progress-value {
            background-color: red;
        }
    }
}

:local(.info_hide) {
    opacity: 0;
    transition: opacity linear .4s
}

:local(.top__info) {
    position: absolute;
    width: 100%;
    height: 15%;
    top: 0;
}

:local(.top__info_hide) {
    top: -15%;
    transition: top linear .2s;
}

:local(.bottom__info) {
    position: absolute;
    width: 100%;
    height: 15%;
    bottom: 0;
}

:local(.bottom__info_hide) {
    bottom: -15%;
    transition: bottom linear .3s;
}

:local(.player) {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    video {
        position: absolute;
    }
}

:local(.title) {
    position: absolute;
    top: 40px;
    left: 200px;
    h1 {
        color: white;
        font-size: 50px;
    }
}

:local(.back) {
    position: absolute;
    top: 30px;
    left: 30px;
}

:local(.toggle__play_pause) {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

:local(.material__icons) {
    font-family: 'Material Icons';
    font-size: 100px;
    color: white;
    cursor: pointer;

    &:hover {
        color: red;
        text-shadow: 0 0 80px white;
    }
}

:local(.focused) {
    color: red;
    text-shadow: 0 0 80px white;
}

:local(.time) {
    position: absolute;
    bottom: 55px;
    right: 30px;
    color: white;

    i {
        font-size: 40px;
        font-weight: normal;
        font-style: normal;
        font-family: 'Open Sans', sans-serif;
    }
}