.featured-container {
  width: 100%;
  height: 30%;
}

.featured-container h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 4.6rem;
}

.featured-container p {
  width: 70%;
  height: 44%;
  overflow: hidden;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.featured-background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.2;
}

.featured-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}