.metadata {
  padding-left: 3rem;
  width: 70%;
}

.metadata h2 {
  font-size: 3rem;
  line-height: 3.5rem;
  margin-bottom: 2%;
}

.metadata p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 1%;
}

.metadata p strong {
  font-size: 1.8rem;
  color: rgb(144, 206, 161);
}

.metadata button {
  margin-top: 3%;
}