.player {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.player-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.player-overlay-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: black;
}

.player-controls {
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 10;
  width: 100%;
  height: 8%;
  bottom: 10%;
}

.player-progress {
  display: flex;
  position: absolute;
  bottom: 20%;
  justify-content: center;
  width: 100%;
}

.player-progress progress {
  width: 90%;
  height: 0.5rem;
}

progress[value] {
  -webkit-appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: rgb(200, 200, 200);
}

progress[value]::-webkit-progress-value {
  background-color: rgb(94, 146, 108);
}
